/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
.done{
    color: green;
}

.done::after {
    content: '  \2713'; /* Carácter de tick */
    color: green;
  }

  