<h1 style="text-align: center;">Listado de tareas</h1>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="row col-lg-3">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Añadir Tarea" aria-label="Añadir Tarea" aria-describedby="button-addon2" [(ngModel)]="newTarea">
        <button class="btn btn-outline-primary" type="button" id="button-addon2" (click)="anadirTarea()">Añadir</button>
      </div>
      <table class="table justify-content-center">
        <tbody>
          <tr *ngFor="let tarea of tareas; let i = index;">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              <ng-container *ngIf="!tarea.editando; else editar">
                <span class="{{ !tarea.Completada ? 'done' : '' }}" (click)="completada(i)">{{ tarea.nombre }}</span>
              </ng-container>
              <ng-template #editar>
                <input type="text" [(ngModel)]="tarea.nombre" (keyup.enter)="guardarNombre(i)" (blur)="cancelarEdicion(tarea)">
              </ng-template>
            </td>
            <td><i class="bi bi-brush-fill justify-content-right" style="cursor: pointer;" (click)="editarTarea(tarea)"></i></td>
            <td><i class="bi bi-x-circle justify-content-left" style="color: red; font-weight: bold; cursor: pointer;" (click)="borrar(i)"></i></td>
          </tr>
          
     </table>
    </div>
  </div>
</div>